
export ENV="local"
export PORT="8080"
export MIN_LOG_SEVERITY="DEBUG"
export DB_HOST="tcp(localhost:3306)"
export DB_USER="root"
export DB_PASSWORD="password"
export DB_DATABASE="maindb"

export GCP_PROJECT_ID="sample"
export FIREBASE_CLIENT_API_KEY="sample"
export GOOGLE_APPLICATION_CREDENTIALS="./secret/service_account.json"
