export ENV="local"
export PORT="8080"
export MIN_LOG_SEVERITY="DEBUG"
export DB_HOST="tcp(localhost:3306)"
export DB_USER="root"
export DB_PASSWORD="password"
export DB_DATABASE="maindb"

export GCP_PROJECT_ID="sample"
export FIREBASE_CLIENT_API_KEY="sample"
export GOOGLE_APPLICATION_CREDENTIALS="./secret/service_account.json"
export GCP_BUCKET_NAME="sample-bucket-name"

export AWS_ACCESS_KEY_ID="test"
export AWS_SECRET_ACCESS_KEY="test"
export AWS_REGION="ap-northeast-1"
export AWS_EMULATOR_HOST="localhost:4566"
export AWS_COGNITO_EMULATOR_HOST="http://localhost:9229"
export AWS_BUCKET_NAME="local-asset-bucket"
export AWS_COGNITO_USER_POOL_ID="please_fill_id_by_created_make_init.local.cognito"